{% extends 'base.html' %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
    <div class="container dashboard">
        <div class="col-4 dashboard-box" id="dashboard-lastdays">
            <h4>Eventos ativos</h4>
            <span>{{ eventosrecently }}</span>
        </div>
    </div>

    <div class="col-9 search-div">
        <form method="GET" id="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do evento para buscar..." value="{{ request.GET.search }}">
            <i class="fas fa-search" id="search-btn"></i>
        </form>
    </div>


    <a id="add-link" href="newevento/">
        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar evento
        </div>
    </a>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Agenda</th>
          </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}      
              <tr>
                  <td><span><a href="/evento/{{evento.id}}">{{evento.descricao}}</a></span></td>
                  <td><a href="edit/{{evento.id}}"><span><i class="fas fa-edit"></i></span></a></td>
                  <td><a href="delete/{{evento.id}}" class="delete-btn"><span><i class="fas fa-trash"></i></span></a></td>
              </tr>            
          {% endfor %}
      
        </tbody>
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if eventos.has_previous %}
                <a href="?page={{ eventos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            
            {% if eventos.paginator.num_pages %}
            <span class="current">
                {{ eventos.number }} de {{ eventos.paginator.num_pages }}
            </span>
            {% endif %}
        
            {% if eventos.has_next %}
                <a href="?page={{ eventos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
